<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="com.qdms.high.testcases.PlantMultiSearch"/>
      <class name="com.qdms.high.testcases.EmployeeMultiSearch"/>
      <class name="com.qdms.high.testcases.DeliveryMultiSearch"/>
      <class name="com.qdms.high.testcases.SupplierMultiSearch"/>
      <class name="com.qdms.high.testcases.CustomerMultiSearch"/>
      <class name="com.qdms.high.testcases.ProjectMultiSearch"/>
      <class name="com.qdms.high.testcases.MaterialMultiSearch"/>
      <class name="com.qdms.high.testcases.MaterialSingleSearch"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
